body{
	background: orange;
}

h1{
		font-size: 30px;
		color: seashell;
	}

	h2 {
		color: #FCD5CE;
		font-size: 20px;
		}

	.big{
		font-size: 60px;
	}
	.uppercase{
		text-transform: uppercase;
	}

	.big.uppercase{
		color: peachpuff;
	}
	h1 span{
		color: saddlebrown;
	}
	}